// Use the gear_dropdown.png screenshot as a style guide

#gear-dropdown-btn {
    position: relative;
}

#gear-dropdown {
    position: absolute;
    display: block;
    top: 110%;
    right: 10px;
    font-size: 12px;
    z-index: 1;
    box-shadow: -1px 1px 2px 1.5px $gray;
    background-color: white;
    padding: 10px;
    width: 260px;
    border-radius: 3px;
}

.editions {
    border-bottom: 1px solid $light-gray;
}

.editions li:hover {
    background-color: $light-gray;
    color: black;
    border-radius: 3px;
}

.gear-dropdown li, span {
    margin: 5px 0px;
    padding: 5px;
}

.gear-dropdown span {
    color: $dark-gray;
    font-size: 90%;
}

.gear-dropdown ul li {
    font-size: 120%;
    color: $gray;
    font-weight: 300;
}

.help li a {
    color: $light-blue;
}

.help li:hover {
    text-decoration: underline;
}

// #gear-dropdown > li:first-child {
//     border-bottom: 1px solid black;
// }

// .editions li:last-child {
//     border-bottom: 1px solid black;
// }